.baseroundpicture{
    .content{
        
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        img{height: 200px; width: 200px;}
        .lineup30{
            margin:30px 0;
        }
        .title-2{
            width: 160px;
            margin-bottom: 65px;
        }
        .basebtn{
            min-width: 335px;
            margin-top: 10px;
        }
    }
}