.line {
    font-size: 30px;
    margin: 15px;
}

.cartimg {
    margin-top: 50px;
}

.success-fail {
    margin-top: 70px;
}

.continueshop {
    color: #111111;
    text-decoration: none;
}

@media (min-width: 1000px) {
    .ilonasmedia {
        border: 1px solid #DBE3F5;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        padding-top: 0px;
        padding-bottom: 30px;
        max-width: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }

    .inputcontainer {
        display: flex;
        align-items: center;
    }
}

.shoppingcart {
    margin-bottom: 15px;

    .subtotal {
        border-top: #DBE3F5;
        border-bottom: #DBE3F5;
    }

}

@media (min-width: 1000px) {
    .ilonasmedia2 {
        border: 1px solid #DBE3F5;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        padding-top: 0px;
        padding-bottom: 40px;
        max-width: 600px;
        margin: auto;
    }

}

.checkbox {
    margin: 15px 0px 0px 40px;
}

.checkboxinput {
    margin-right: 10px;
}

.one-order {
    padding: 18px 35px 18px 35px;

    .flex-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .shippinggul {
            color: #ffcc33;
        }

        .deliveredgrön {
            color: green;
        }

        .canceledröd {
            color: red;
        }

        .summa {
            font-weight: bold;
        }
    }
}

.paymentmeth {
    padding: 18px 35px 18px 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #dbe3f5b2;

}

.orderstuff {
    background-color: #dbe3f5b2;
}

.undertitle {
    font-size: 14px;
}

.smallerletters {
    font-size: 14px;
    padding-bottom: 7px;
}

.FREE {
    color: green;
}

.arrow-icon {
    display: flex;
    align-items: center;
    // margin: 20px 15px 40px 15px;
}

.checkoutbtn {
    margin: auto;
    align-items: center;
    display: flex;
    margin-top: 15px;
}