.paymentTest {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    font-size: 14px;
    margin-bottom: 20px;
}

.paymentTeste {
    margin-right: 30px;
    font-size: 12px;
}

.paymentPlus {
    margin-left: 10px;
}

.paymentCardsPics {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
}

.paymentCardsPicsMargin {
    margin-left: 20px;
}