.paymentTest {
    display: inline;
    font-size: 12px;
}

.paymentTeste {
    display: inline;
    font-size: 12px;
}

.paymentPlus {
    margin-left: 10px;
}

.paymentCardsPics {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
}

.paymentCardsPicsMargin {
    margin-left: 20px;
}