html, body {
    font-family: 'Mulish';
    font-weight: 400;
    font-size: 16px;
    height: 100dvh;
}
.title-1{
    font-family: 'Mulish';
    font-weight: 700;
    font-size: 32px;
}
.title-2{
    font-family: 'Mulish';
    font-weight: 700;
    font-size: 22px;
}
.basebtn{
    background: $color-black;
    color: white;
    font-weight: 400;
    font-size: 14px;
    padding: 12px 70px;
    border-radius: 50px;
    margin: 30px;
}

.inputcontainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    .text-center{
        width: 375px;
        position: relative;
        .baselabel{
        position: absolute;
        font-size: 12px;
        background-color: white;
        padding: 5px;
        left: 40px;
        }
        .baseinput{
            margin: 10px;
            min-width: 335px;
            border: 2px solid $color-background;
            border-radius: 50px;
            padding: 10px 20px;
            z-index: -1;
        }
        .basebtn{
            margin: 20px 0 0 0;
            width: 335px;
        }
    }
}
