html, body {
    font-family: 'Mulish';
    font-weight: 400;
    font-size: 16px;
}
.title-1{
    font-family: 'Mulish';
    font-weight: 700;
    font-size: 32px;
}
.basebtn{
    background: $color-black;
    color: white;
    font-weight: 400;
    font-size: 14px;
    padding: 12px 70px;
    border-radius: 50px;
    margin: 30px;
}

.nav-link{
    background-color: transparent;
    color: transparent;
    border: 5px solid black;
    padding: 0;
    margin: 7px;
}
.nav-pills .nav-link.active{
    padding: 3px 11px;
    background-color: white;
    border-radius: 50px;
    border: 3px solid black;
}
.nav-item{
    display: flex;
    align-items: center;
    
    
}
.pills-line{
width: 134px;
height: 5px;
background-color: $color-black;
border-radius: 10px;
margin: 30px 0 10px 0;
}
.lineup30{
    height: 30px;
    width: 1px;
    background-color: $color-black;
}
