$color-background: #DBE3F5;
$color-backgroundsecondary: #8D94A6;
$color-black: #111111;
$color-text: #111111;
$color-textsecondary: #626262;
$color-sale: #69864D;
$color-yellow: #FFBE00;
$color-icons: #626262;
$color-red: #F4303C;
$color-green: #00824B;
$color-purple: #864D7D;
$color-orange: #EF962D 