.account-created{
    margin: 30px 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100dvh;

    .user-image{
        margin-top: 40px;
    }

    .title-1{
        font-size: 22px;
        margin: 10px 0;
    }

    .basebtn{
        min-width: 335px;
    }
}