.categories{
    display: flex;
    flex-direction: column;
    border-top: 1px solid $color-background;
    width: 100%;

    .consumercategory{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 10px;

        .consumerbtn{
            background-color: white;
            border: none;
            margin: 0 10px;

            .active{
                border-radius: 50%;
                background-color: $color-background;
            }
        }
    }
}