.container-lg{
    min-width: 375px;
}

.sortBy{
    .form-select{
        width: 150px;
        height: 15px;
        border: 0px;
        box-shadow: none;
        margin-bottom: 15px;
        margin-left: -120px;
        background-color: transparent;

        &:active{
            border: 0px;
            box-shadow: none;
        }
    } 

    .selectOption{
        font-size: 15px;
        font-family: 'Mulish';
        color:$color-textsecondary;
    }
}

