.field{
    height: 70px;
    min-width: 380px;
    height: 70px;
    padding: 20px 20px 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid $color-background;
    border-bottom: 1px solid $color-background;
    .fieldicon{
        display: flex;
        align-items: center;
        p{
            margin: 0 0px 0 30px;
        }
    }
  }
