.passwordbyemail{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .lineup30{
        margin: 15px;
    }
    .title-2{
        margin: 0 20%;
    }
    .content{
        margin: 10px 15%;
    }
    .basebtn{
        min-width: 335px;
    }
}