.forgotpassword{
  margin: 30px 0px;
  display: flex;
  justify-content: center;
  .content{
    color: $color-textsecondary;
  }
  .inputcontainer{
    display: flex;
    align-items: center;
  }
  @media (min-width: 1000px) {
    .media-border{
    .content{
      text-align: center;
    }
  }
  }
}
.backtosigninbtn{
  display: none;
}
