.menubarsection{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    hr{
        width: 100%;
    }
    .container{
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
    }
    .menu-icons{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        .menu-link{
            text-decoration: none;
            color: $color-black;
            padding: 8px;
        }
        .active{
            border-radius: 50%;
            background-color: lightgray
        }

        
    }
}