.myprofile{
    padding-top: 50px;
    height: 100dvh; 
    overflow: hidden;
    .lineup30{
        margin: 10px;
        margin-top: 30px;
    }
    .media-border{
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        .fieldcontainer{
            margin-bottom: 115px;
            margin-top: 50px;
        }
    }
    .profileintro{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-top: 2px solid $color-background;
        .profileImage{
            width: 120px;
            height: 120px;
            border: 5px solid $color-background;
            border-radius: 50%;
            position: relative;
            .fa-pen-line{
                background-color: $color-background;
                position: absolute;
                padding: 10px;
                border-radius: 50%;
                bottom: 0;
                right: 0;

            }
        }
    }
    .signoutfield{
        background-color: transparent;
        border: none;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
#signoutmodal{
    margin-top: 50%;
    --bs-modal-border-radius: 50%;
    --bs-modal-border-width: 200px;
    .lineup30{
        margin: 0;
        margin-bottom: 20px;
    }
    .signutbtncontainer{
        margin: 0;
    }
    .modal-dialog{
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .modal-content{
        background-color: transparent;
        border: 5px solid white;
        width: 335px;
        height: 335px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .modal-body{
        flex-grow: 0;
        padding: 0;
        width: 290px;
        height: 290px;
        background-color: white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        p{
            font-size: 20px;
            font-weight: bold;
        }
        .basebtn{
            margin: 0;
        }
        .btnsec{
            background-color: transparent;
            border: none;
            color: $color-text;
        }

    }
}
