.rating{
    height: 15px;
    margin-top: 10px;
}

.productName{
    height: 20px;
    font-size: 14px;
    color: $color-textsecondary;
}

.price{
    height: 20px;
    font-size: 14px;
    color: $color-text;
}

.priceWas{
    text-decoration: line-through;
    color: $color-textsecondary;
    margin-right: 10px;
}

.priceIs{
    color: $color-red;
}

.picture{
    background-color: $color-background;
    position: relative;

    .salesIcon{
        color:white;
        font-size: 8px;
        font-weight: 700;
        height: 16px;
        width: 33px;
        background-color: $color-sale;
        position:absolute;
        top:0px;
        left: 0px;
    }

    .pictureIconsBox{
        position: absolute;
        top: 12px;
        right: 12px;

        .pictureIcons{
            color: $color-textsecondary;
            font-size: 20px;
        }

        .pictureIconBag{
            margin-top: 10px;
        }
    }
}

.card-1{
    height: 330px;
    width: 200px;

    .picture {
        height: 250px;
    }
}

.card-2{
    height: 245px;
    width: 140px;


    .picture {
        height: 170px;
    }
}

.card-3{
    height: 240px;
    width: 160px;
    margin-bottom: 10px;

    .picture{
        height: 170px;
    }
}


