.card-1{
    color: white;
    font-size: 20px;
    height: 310px;
    width: 200px;
    background-color: red;
}

.picture {
    background-color: $color-background;
    width: 200px;
    height: 250px;
}

