.sign-in-form{
    margin: 30px 0px;
    display: flex;
    justify-content: center;

.arrowicon{
    display: flex;
    margin: 20px 15px 40px 15px;
    .arrow{
        justify-content: start;
        align-items: center;

    }
    .content{
        flex: 2;
        text-align: center;
        margin-right: 10px;
        
    }
}
.remember{
    display: flex;
    justify-content: space-between;
    margin: 0 15px;
    .rememberme{
       margin-right: 15px; 
    }
}

.sign-up-link{
    text-decoration: none;
    color: $color-black;
}
.guest{
        color: $color-backgroundsecondary;
        text-decoration: none;
}
.imagecontainer{
    margin-top: 10px;
    img{ margin: 15px 8px;}
}
}
