.verify-number{
    margin: 30px 0px;
    display: flex;
    flex-direction: column;

    input{
        border-radius: 50%;
        height: 60px;
        width: 60px;
    }

    input:valid{
        background-color: $color-background;
    }

    input:invalid{
        background-color: white;    
    }

    .basebtn{
        min-width: 335px;
    }
}