@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Mulish:wght@400;600;700&family=Playfair+Display:wght@700&family=Roboto&display=swap");
html, body {
  font-family: "Mulish";
  font-weight: 400;
  font-size: 16px;
}

.title-1 {
  font-family: "Mulish";
  font-weight: 700;
  font-size: 32px;
}

.title-2 {
  font-family: "Mulish";
  font-weight: 700;
  font-size: 22px;
}

.basebtn {
  background: #111111;
  color: white;
  font-weight: 400;
  font-size: 14px;
  padding: 12px 70px;
  border-radius: 50px;
  margin: 30px;
}

.inputcontainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.inputcontainer .text-center {
  width: 375px;
  position: relative;
}
.inputcontainer .text-center .baselabel {
  position: absolute;
  font-size: 12px;
  background-color: white;
  padding: 5px;
  left: 40px;
}
.inputcontainer .text-center .baseinput {
  margin: 10px;
  min-width: 335px;
  border: 2px solid #DBE3F5;
  border-radius: 50px;
  padding: 10px 20px;
  z-index: -1;
}
.inputcontainer .text-center .basebtn {
  margin: 20px 0 0 0;
  width: 335px;
}

.get-started-root {
  background-color: #DBE3F5;
}
.get-started-root .get-started {
  display: inline;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  animation: moveDown 3s ease-in-out forwards;
}
.get-started-root .get-started .inner-circle {
  position: absolute;
  background-color: white;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  animation: pulse 3.5s ease-in-out infinite;
}
.get-started-root .get-started .outer-circle {
  position: absolute;
  border: 5px solid white;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  animation: pulse 3.5s ease-in-out infinite;
}
.get-started-root .get-started img {
  position: absolute;
  animation: pulse 3.5s ease-in-out infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.2);
  }
  40% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.2);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(3);
  }
}
@keyframes moveDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(23vh);
  }
}

/*.get-started-root{
    .container{
        overflow: hidden;
    }
}
.get-started-welcome{
    display: inline;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: end;
    height: 100dvh;
    z-index: 0;

    .inner-circle{
        position: absolute;
        background-color: white;
        width: 415px;
        height: 415px;
        border-radius: 50%;
        z-index: -1;
        bottom: -15px;
    }

    .outer-circle{
        position: absolute;
        border: 5px solid white;
        width: 475px;
        height: 475px;
        border-radius: 50%;
        z-index: -1;
        bottom: -45px;
    }
    .content{
        color: $color-textsecondary;
    }
}*/
.sign-in-form {
  margin: 30px 0px;
  display: flex;
  justify-content: center;
}
.sign-in-form .arrowicon {
  display: flex;
  margin: 20px 15px 40px 15px;
}
.sign-in-form .arrowicon .arrow {
  justify-content: start;
  align-items: center;
}
.sign-in-form .arrowicon .content {
  flex: 2;
  text-align: center;
  margin-right: 10px;
}
.sign-in-form .remember {
  display: flex;
  justify-content: space-between;
  margin: 0 15px;
}
.sign-in-form .remember .rememberme {
  margin-right: 15px;
}
.sign-in-form .guest {
  color: #8D94A6;
}
.sign-in-form .imagecontainer {
  margin-top: 10px;
}
.sign-in-form .imagecontainer img {
  margin: 15px 8px;
}

.headersection {
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
}
.headersection .middle {
  display: flex;
  flex-direction: column;
}
.headersection .middle h3 {
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.get-started-welcome {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  height: 100dvh;
  background-color: #DBE3F5;
}

.carouselroot {
  display: flex;
  justify-content: center;
  align-items: end;
  height: 100dvh;
  z-index: -2;
  background-color: #DBE3F5;
}
.carouselroot .carouselbtn {
  display: none;
}
.carouselroot .basebtn {
  margin-bottom: 50px;
}
.carouselroot .inner-circle {
  position: absolute;
  background-color: white;
  width: 415px;
  height: 415px;
  border-radius: 50%;
  z-index: -1;
  bottom: -15px;
}
.carouselroot .outer-circle {
  position: absolute;
  border: 5px solid white;
  width: 475px;
  height: 475px;
  border-radius: 50%;
  z-index: -1;
  bottom: -45px;
}
.carouselroot .carousel-indicators [data-bs-target] {
  bottom: 0px;
  background-color: black;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.carouselroot .carousel-indicators .active {
  width: 20px;
  border-radius: 50px;
}
.carouselroot .displaypages {
  display: none;
}

.welcomecontent {
  display: none;
}

.nav-link {
  background-color: transparent;
  color: transparent;
  border: 5px solid black;
  padding: 0;
  margin: 7px;
}

.nav-pills .nav-link.active {
  padding: 3px 11px;
  background-color: white;
  border-radius: 50px;
  border: 3px solid black;
}

.nav-item {
  display: flex;
  align-items: center;
}

.lineup30 {
  height: 30px;
  width: 1px;
  background-color: #111111;
}

.menubarsection {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  border-top: 1px solid #DBE3F5;
}
.menubarsection hr {
  width: 100%;
}
.menubarsection .container {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}
.menubarsection .menu-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.menubarsection .menu-icons .menu-link {
  text-decoration: none;
  color: #111111;
  padding: 8px;
}
.menubarsection .menu-icons .active {
  border-radius: 50%;
  background-color: #DBE3F5;
}
.menubarsection .menu-icons .menu-icons {
  margin-left: 10px;
}

.showcasesection {
  display: flex;
  flex-direction: column;
  background-color: white;
  background-color: #DBE3F5;
}
.showcasesection .container .showcases {
  height: 330px;
  position: relative;
}
.showcasesection .container .showcases .showcase-text {
  position: absolute;
  bottom: 0;
  margin-bottom: 30px;
  color: white;
}
.showcasesection .container .showcases .showcase-text h1 {
  color: white;
  font-weight: 900;
}
.showcasesection .displaywelcome {
  display: none;
}
.showcasesection .carouselbtn {
  display: none;
}
.showcasesection .carousel-indicators {
  background-color: white;
  margin: 0;
}
.showcasesection .carousel-indicators [data-bs-target] {
  bottom: 0px;
  background-color: black;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.showcasesection .carousel-indicators .active {
  width: 20px;
  border-radius: 50px;
}

.bestSellerCarousel {
  height: 368px;
  overflow: hidden;
  margin-left: 10px;
}

.featuredCarousel {
  height: 288;
  overflow: hidden;
  margin-left: 10px;
}

.carouselContainer {
  width: 2680px;
}

.carouselTitle {
  font-size: 20px;
  font-weight: 700;
}

.carouselLink {
  margin-right: 20px;
  text-decoration: none;
  font-size: 16px;
  color: #111111;
}

.rating {
  height: 15px;
  margin-top: 10px;
}

.productName {
  height: 20px;
  font-size: 14px;
  color: #626262;
}

.price {
  height: 20px;
  font-size: 14px;
  color: #111111;
}

.priceWas {
  text-decoration: line-through;
  color: #626262;
  margin-right: 10px;
}

.priceIs {
  color: #F4303C;
}

.picture {
  background-color: #DBE3F5;
  position: relative;
}
.picture .salesIcon {
  color: white;
  font-size: 8px;
  font-weight: 700;
  height: 16px;
  width: 33px;
  background-color: #69864D;
  position: absolute;
  top: 0px;
  left: 0px;
}
.picture .pictureIconsBox {
  position: absolute;
  top: 12px;
  right: 12px;
}
.picture .pictureIconsBox .pictureIcons {
  color: #626262;
  font-size: 20px;
}
.picture .pictureIconsBox .pictureIconBag {
  margin-top: 10px;
}

.card-1 {
  height: 330px;
  width: 200px;
}
.card-1 .picture {
  height: 250px;
}

.card-2 {
  height: 245px;
  width: 140px;
}
.card-2 .picture {
  height: 170px;
}

.account-created {
  margin: 30px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100dvh;
}
.account-created .user-image {
  margin-top: 40px;
}
.account-created .title-1 {
  font-size: 22px;
  margin: 10px 0;
}
.account-created .basebtn {
  min-width: 335px;
}

.arrowicon {
  display: flex;
  margin: 20px 15px 40px 15px;
}
.arrowicon .arrow {
  justify-content: start;
  align-items: center;
}
.arrowicon .content {
  flex: 2;
  text-align: center;
  margin-right: 10px;
}

.forgotpassword {
  margin: 30px 0px;
  display: flex;
  justify-content: center;
}
.forgotpassword .content {
  color: #626262;
}

.passwordbyemail {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.passwordbyemail .lineup30 {
  margin: 15px;
}
.passwordbyemail .title-2 {
  margin: 0 20%;
}
.passwordbyemail .content {
  margin: 10px 15%;
}
.passwordbyemail .basebtn {
  padding-left: 35%;
  padding-right: 35%;
}

.field {
  max-width: 380px;
  padding: 20px 20px 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #DBE3F5;
  border-bottom: 1px solid #DBE3F5;
}
.field .fieldicon {
  display: flex;
  align-items: center;
}
.field .fieldicon p {
  margin: 0 0px 0 30px;
}

.confirm-number {
  margin: 30px 0px;
  display: flex;
  flex-direction: column;
}
.confirm-number .message {
  margin: 0px 0px 20px 15px;
}
.confirm-number .inputcontainer .text-center {
  width: 355px;
}

.verify-number {
  margin: 30px 0px;
  display: flex;
  flex-direction: column;
}
.verify-number input {
  border-radius: 50%;
  height: 60px;
  width: 60px;
}
.verify-number input:valid {
  background-color: #DBE3F5;
}
.verify-number input:invalid {
  background-color: white;
}
.verify-number .basebtn {
  min-width: 335px;
}

.discountshowcase {
  background-color: #DBE3F5;
  margin-top: 10px;
  margin-bottom: 30px;
  height: 150px;
}
.discountshowcase .items {
  padding-top: 20px;
  padding-left: 10px;
}
.discountshowcase .items p {
  font-size: 22px;
  font-weight: 900;
  color: white;
}
.discountshowcase .items .shopbtn {
  background: white;
  color: black;
  font-weight: 400;
  font-size: 14px;
  padding: 15px 35px;
  border-radius: 50px;
  border: none;
}

.categories {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #DBE3F5;
  width: 100%;
}
.categories .consumercategory {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
}
.categories .consumercategory .consumerbtn {
  background-color: white;
  border: none;
  margin: 0 10px;
}
.categories .consumercategory .consumerbtn .active {
  border-radius: 50%;
  background-color: #DBE3F5;
}